body{
  background-color: #E5E5E5;
}
.titulo {
  padding: 15px;
  width: 30vw;
  margin: auto;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 150%;
  color: #0A3871;

}

.btn {
  border: 0;
  color: white;
  font-weight: bold;
  background-color: blue;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 0.5em;
}

.text-input {
  border-radius: 0.5em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: block;
  padding: 0.5em;
  width: 30%;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
}
.pie-de-pagina{
  text-align: center;
}
.logo{
  position: absolute;
  left: 36.67%;
  right: 37.43%;
  top: 0%;
  bottom: 0%;
  height: 48px;
  width: 31.085588455200195px;
  left: 44px;
  top: 0px;
  border-radius: 0px;
  color: #0A3871;

}